
<section class="book" id="book">

  <h1 class="heading">
    <span>a</span>
    <span>g</span>
    <span>r</span>
    <span>i</span>
    <span>c</span>
    <span>u</span>
    <span>l</span>
    <span>t</span>
    <span>e</span>
    <span>u</span>
    <span>r</span>
    <span>s</span>
    <br>
    <span class="space"></span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>
<div>
  <div class="row" >

    <div class="image" >
      <img [src]="imageSrcfarmer" alt="sssssssssssssssssssssssss" style="height: 660px;">
    </div>
  </div>
  <div class="row" >

    <form action="" *ngFor="let shd of OperationFarmerResultsTab" style="height: 660px;">



      <div class="card-body" >
        <div class="inputBox">
          <h3>Agriculteur name & prenom</h3>
          {{ shd.agriculteur.nom }} {{ shd.agriculteur.prenom }}
        </div>
        <div class="inputBox">
          <h3>Operation code</h3>
          {{ shd.code }}
        </div>

        <div class="inputBox">
          <h3>Quantite sortie</h3>
          {{ shd.poidsLait }} kg
        </div>

        <div class="inputBox">
          <h3>Operation retrait date</h3>
          {{ shd.dateOperation }}
        </div>
          <div class="inputBox">
          <h3>adresse </h3>
          {{ shd.agriculteur.adress }}
        </div>
        <div class="inputBox">
          <h3>pour </h3>
          {{ shd.collecteur.nomCollecteur }} 
        </div>
      </div>


    </form>
  </div>
</div>








  <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>m</span>
    <span>p</span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>s</span>
    <span>a</span>
    <span>g</span>
    <span>e</span>
    <br>    
    <span class="space"></span>
    <span>c</span>
    <span>e</span>
    <span>n</span>
    <span>t</span>
    <span>r</span>
    <span>e</span>
    <br>
    <span class="space"></span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>




  <div >
    <div class="row" >

      <div class="image" >
        <img [src]="imageSrcentre" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>

    <div class="row" >
      <form action="" style="height: 660px;" *ngFor="let shds of operationsRemplissageColResultsTab">
        <div class="card-body">

          <div class="inputBox">
            <h3>Agriculteur nom & prénom</h3>
            {{ shds.operation.agriculteur.nom }} {{ shds.operation.agriculteur.prenom }}
          </div>

          <!-- <div class="inputBox">
            <h3>Centre nom</h3>
            {{ shds.operation.centreCollecte.nomCentre }} 
          </div>  -->

          <div class="inputBox">
            <h3>Quantite de remplissage</h3>
            {{ shds.operation.poidsLait }}
          </div>

          <div class="inputBox">
            <h3>date de remplissage</h3>
            {{ shds.operation.dateOperation }}
          </div>

          <div class="inputBox">
            <h3>code de l'operation</h3>
            {{ shds.operation.code }}
          </div>
        
          <div class="inputBox">

            <h3>qte inseree in tank id : {{ shds.tank.idTank}}</h3>
             {{ shds.qteInsereTank}} 
          </div>
        </div>
      </form>

     

    </div>
  </div>



  <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>t</span>
    <span>r</span>
    <span>a</span>
    <span>i</span>
    <span>t</span>
    <span>s</span>   
    <br>
    <span class="space"></span>
    <span>c</span>
    <span>e</span>
    <span>n</span>
    <span>t</span>
    <span>r</span>
    <span>e</span>
    <br>
    <span class="space"></span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>







  <div >
    <div class="row" >

      <div class="image">
        <img [src]="imageSrcentre" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>

    <div class="row" >
      <form action="" style="height: 660px;" *ngFor="let ssss of tankOperationTranferResultsTab">
        <div class="card-body">

          <div class="inputBox">
            <h3>usine nom</h3>
            {{ ssss.operation.usine.nomUsine }} 
          </div> 

          <!-- <div class="inputBox">
            <h3>collecteur nom</h3>
            {{ ssss.operation.centreCollecte.nomCentre }} 
          </div>  -->

          <div class="inputBox">
            <h3>Quantite de retrait</h3>
            {{ ssss.operation.poidsLait }}
          </div>

          <div class="inputBox">
            <h3>date de retrait</h3>
            {{ ssss.operation.dateOperation }}
          </div>

          <div class="inputBox">
            <h3>code de l'operation</h3>
            {{ ssss.operation.code }}
          </div>
          <div class="inputBox">
            <h3>depuis tank id : {{ ssss.tank.idTank}}</h3>
            {{ ssss.qteInsereTank}}
          </div>
        </div>
      </form>


    </div>
  </div>


  <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>m</span>
    <span>p</span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>s</span>
    <span>a</span>
    <span>g</span>
    <span>e</span> 
    <span class="space"></span>
  <br>
    <span>u</span>
    <span>s</span>
    <span>i</span>
    <span>n</span>
    <span>e</span>
    <span class="space"></span>
    <br>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>



  <div >
    <div class="row" >

      
      <div class="image">
        <img [src]="imageSrc" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>

    <div class="row" >

      <form action="" style="height: 660px;" *ngFor="let eeee of tankOpUsineRemplissageResultsTab">
        <div class="card-body">

          <div class="inputBox">
            <h3>depuis Centre </h3>
            {{ eeee.operation.centreCollecte.nomCentre }}
          </div>


          <div class="inputBox">
            <h3>Quantite de remplissage</h3>
            {{ eeee.operation.poidsLait }}
          </div>

          <div class="inputBox">
            <h3>date de remplissage</h3>
            {{ eeee.operation.dateOperation }}
          </div>

          <div class="inputBox">
            <h3>code de l'operation</h3>
            {{ eeee.operation.code }}
          </div>
          <div class="inputBox">
            <h3>quantitee inseree dans tank id:{{ eeee.tank.idTank}}</h3>
            {{ eeee.qteInsereTank}}
          </div>
        </div>
      </form>


    </div>
  </div>














  <h1 class="heading">
    <span>t</span>
    <span>r</span>
    <span>a</span>
    <span>n</span>
    <span>s</span>
    <span>f</span>
    <span>o</span>
    <span>r</span>
    <span>m</span>
    <span>a</span>
    <span>t</span> 
    <span>i</span>
    <span>o</span>
    <span>n</span> 
    <span class="space"></span>
  <br>
    <span>u</span>
    <span>s</span>
    <span>i</span>
    <span>n</span>
    <span>e</span>
    <span class="space"></span>
    <br>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>

<div *ngIf="operationsTransferResult">
    <div class="row"  >

      <div class="image">
        <img [src]="imageSrc" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>

    <div class="row"  >

      <form action="" style="height: 660px;">
        <div class="card-body">

          <!-- <div class="inputBox">
            <h3>from Centre </h3>
            {{ operationsTransferResult.centreCollecte.nomCentre }}
          </div> -->

          <!-- <div class="inputBox">
            <h3>nom de lots</h3>
            {{ operationsTransferResult.lot.produit.intitule }}
          </div> -->

          <!-- <div class="inputBox">
            <h3>Quantite de lots</h3>
            {{ operationsTransferResult.lot.qteLot }}
          </div> -->

          <div class="inputBox">
            <h3>Quantite de transfer</h3>
            {{ operationsTransferResult.poidsLait }}
          </div>

          <div class="inputBox">
            <h3>date de transfer</h3>
            {{ operationsTransferResult.dateOperation }}
          </div>

          <div class="inputBox">
            <h3>code de l'operation</h3>
            {{ operationsTransferResult.code }}
          </div>
          <div class="inputBox">
            <h3>depuis tank id</h3>
            {{ operationsTransferResult.tank.idTank}}
          </div>
        </div>
      </form>

    
  </div>
</div>
























<!-- 

  <div *ngFor="let ssss of agrsOperations0 | async">
    <span class="timeline-body">
      //*********************** oop agriculteur
      retrait***********************************************************************//<br />

      Operation:agrs {{ ssss }} ||

      <br />
      ************************************************************************************************
    </span>
  </div>

  <br /> <br />

  <div *ngFor="let qqqqs of operationsRemplissageCol | async">
    <span class="timeline-body">
      //*********************** oop centre
      remplissage***********************************************************************//<br />

      Operation:usine {{ qqqqs }} ||

      <br />
      //****************************************************************************************************/
    </span>
  </div>
  <br /> <br />
  <br /> <br />

  <div *ngFor="let fff of operationss | async">
    <span class="timeline-body">
      /*************************************** centre op tank
      retrait***********************************************************/<br />
      Operation tank de centre:
      {{ fff }} ||
      <br />
      /**************************************************************************************************/
    </span>
   
  </div>
  <br /> <br />
  <div *ngFor="let qqqqss of agrsOperations0U | async">
    <span class="timeline-body">
      //*********************** oop usine
      remplissage***********************************************************************//<br />

      Operation:usine {{ qqqqss }} ||

      <br />
      //****************************************************************************************************/
    </span>
  </div>
  <br /> <br />
-->
<!-- 
  <div *ngFor="let qqqqsss of agrsOperations0T | async">
    <span class="timeline-body">
      //*********************** oop usine
      transfer***********************************************************************//<br />

      Operation:usine {{ qqqqsss }} ||

      //****************************************************************************************************/<br />
    </span>
    <br />
  </div>
  <br /> <br />  -->















  <!-- <br />  <br />
<p>find by code  opertaion tank transfers de uisne</p>
    <p><input type="number" id="id" name="id" #id /></p>
    <button type="button" (click)="fincdbycodeTrensfer(id.value)">Clickme</button>
    <div *ngIf="operations0T">
      <span class="timeline-body">
        //***********************find by code results opertaion tank ****************************************************************************/
        opertaion tank: {{ operations0T }} 
        //****************************************************************************************************/
      </span>
    </div>
   -->



  <br /> <br /><br /> <br />

<!-- 
  <p>find by operation de retrait de centre using transfer code (code de transfer usine )</p>
  <p><input type="number" id="id" name="id" #id /></p>
  <button type="button" (click)="Compare_TransferOP_RetraitCentreOPT(id.value)">Clickme</button>
 -->


</section>
<!-- book section ends -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>