<section class="book" id="book">
  <h1 class="heading">
    <span>a</span>
    <span>g</span>
    <span>r</span>
    <span>i</span>
    <span>c</span>
    <span>u</span>
    <span>l</span>
    <span>t</span>
    <span>e</span>
    <span>u</span>
    <span>r</span>
    <span>s</span>
    <br>
    <span class="space"></span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>
  <div>
    <div class="row">
      <div class="image">
        <img [src]="imageSrcfarmer" alt="sssssssssssssssssssssssss" style="height: 660px;width: 665px;">
      </div>
    </div>
    <div class="row">
      <form action="" *ngFor="let shd of OperationFarmerResultsTab" style="height: auto;">
        <div class="card-body">
          <div class="inputBox">
            <h3>Nom et prénom de l'agriculteur :</h3>
            {{ shd.agriculteur.nom }} {{ shd.agriculteur.prenom }}
          </div>
          <div class="inputBox">
            <h3>Code de livraison de l'opération :</h3>
            {{ shd.code }}
          </div>

          <div class="inputBox">
            <h3>Quantité livrée :</h3>
            {{ shd.poidsLait }} kg
          </div>

          <div class="inputBox">
            <h3>Date de livraison :</h3>
            {{ shd.dateOperation }}
          </div>
          <div class="inputBox">
            <h3>La ferme se trouve à :</h3>
            {{ shd.agriculteur.adress }}
          </div>
          <div class="inputBox">
            <h3>Cette opération a été livrée au centre de collecte dont son nom est :</h3>
            {{ shd.collecteur.nomCollecteur }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>m</span>
    <span>p</span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>s</span>
    <span>a</span>
    <span>g</span>
    <span>e</span>
    <br>
    <span class="space"></span>
    <span>c</span>
    <span>e</span>
    <span>n</span>
    <span>t</span>
    <span>r</span>
    <span>e</span>
    <br>
    <span class="space"></span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>
  <div>
    <div class="row">
      <div class="image">
        <img [src]="imageSrcentre" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>
    <div class="row">
      <form action="" style="height: auto;" *ngFor="let shds of Tab_Centre_Remplissage_Tank; let j  = index">
        <div class="card-body">
          <div class="inputBox">
            <h3>Nom et prénom de l'agriculteur :</h3>
            {{ shds.operation.agriculteur.nom }} {{ shds.operation.agriculteur.prenom }}
          </div>
          <div class="inputBox">
            <h3>La quantité reçue :</h3>
            {{ shds.operation.poidsLait }}
          </div>
          <div class="inputBox">
            <h3>La date d'opération correspond au jour où le collecteur a réalisé l'opération de remplissage est :</h3>
            {{ shds.operation.dateOperation }}
          </div>
          <div class="inputBox">
            <h3>Le code de l'operation reçu est :</h3>
            {{ shds.operation.code }}
          </div>
          <ng-container *ngFor="let eeee of operationsRemplissageColResultsTab; let p  = index   ">
            <div class="inputBox"
              *ngIf="compare_code(operationsRemplissageColResultsTab[p],Tab_Centre_Remplissage_Tank[j])">
              <h3>la quantité inserée dans le " tank numéro {{ operationsRemplissageColResultsTab[p].tank.idTank}}" est
                : </h3>
              {{ operationsRemplissageColResultsTab[p].qteInsereTank}}
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
  <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>t</span>
    <span>r</span>
    <span>a</span>
    <span>i</span>
    <span>t</span>
    <span>s</span>
    <br>
    <span class="space"></span>
    <span>c</span>
    <span>e</span>
    <span>n</span>
    <span>t</span>
    <span>r</span>
    <span>e</span>
    <br>
    <span class="space"></span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>
  <div>
    <div class="row">
      <div class="image">
        <img [src]="imageSrcentre" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>
    <div class="row">
      <form action="" style="height: auto;" *ngFor="let ssss of Tab_Centre_Retrait_Tank; let j  = index">
        <div class="card-body">
          <div class="inputBox">
            <h3>Le lait a été livré a l'usine où son nom est :</h3>
            {{ ssss.operation.usine.nomUsine }}
          </div>
          <div class="inputBox">
            <h3>La quantité livrée à l'usine est :</h3>
            {{ ssss.operation.poidsLait }}
          </div>
          <div class="inputBox">
            <h3>La date de livraison du lait :</h3>
            {{ ssss.operation.dateOperation }}
          </div>
          <div class="inputBox">
            <h3>Le code de livraison :</h3>
            {{ ssss.operation.code }}
          </div>
          <ng-container *ngFor="let eeee of tankOperationTranferResultsTab; let p  = index   ">
            <div class="inputBox" *ngIf="compare_code(tankOperationTranferResultsTab[p],Tab_Centre_Retrait_Tank[j])">
              <h3>Le lait a été livrer depuis le tank " numéro {{ tankOperationTranferResultsTab[p].tank.idTank}}" où la
                quantité prise de ce dernier est :</h3>
              {{ tankOperationTranferResultsTab[p].qteInsereTank}}
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
  <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>m</span>
    <span>p</span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>s</span>
    <span>a</span>
    <span>g</span>
    <span>e</span>
    <span class="space"></span>
    <br>
    <span>u</span>
    <span>s</span>
    <span>i</span>
    <span>n</span>
    <span>e</span>
    <span class="space"></span>
    <br>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>
  <div>
    <div class="row">
      <div class="image">
        <img [src]="imageSrc" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>
    <div class="row">
      <form action="" style="height: auto;" *ngFor="let ttt of Tab_Usine_Remplissage_Tank; let j  = index">
        <div class="card-body">
          <div class="inputBox">
            <h3>La quantité de lait reçue depuis le centre de collecte de :</h3>
            {{ ttt.operation.centreCollecte.nomCentre }}
          </div>
          <div class="inputBox">
            <h3>La quantité de lait reçue</h3>
            {{ ttt.operation.poidsLait }}
          </div>
          <div class="inputBox">
            <h3>La date de l'opération</h3>
            {{ ttt.operation.dateOperation }}
          </div>
          <div class="inputBox">
            <h3>Le code de l'opération reçue</h3>
            {{ ttt.operation.code }}
          </div>
          <ng-container *ngFor="let eeee of tankOpUsineRemplissageResultsTab; let p  = index   ">
            <div class="inputBox"
              *ngIf="compare_code(tankOpUsineRemplissageResultsTab[p],Tab_Usine_Remplissage_Tank[j])">
              <h3>La quantité de lait inseré dans le tank " numero {{tankOpUsineRemplissageResultsTab[p].tank.idTank}}"
                est :</h3>
              {{tankOpUsineRemplissageResultsTab[p].qteInsereTank}}
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
  <h1 class="heading">
    <span>t</span>
    <span>r</span>
    <span>a</span>
    <span>n</span>
    <span>s</span>
    <span>f</span>
    <span>o</span>
    <span>r</span>
    <span>m</span>
    <span>a</span>
    <span>t</span>
    <span>i</span>
    <span>o</span>
    <span>n</span>
    <span class="space"></span>
    <br>
    <span>u</span>
    <span>s</span>
    <span>i</span>
    <span>n</span>
    <span>e</span>
    <span class="space"></span>
    <br>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
  </h1>
  <div *ngIf="operationsTransferResult">
    <div class="row">
      <div class="image">
        <img [src]="imageSrc" alt="sssssssssssssssssssssssss" style="height: 660px;">
      </div>
    </div>
    <div class="row">
      <form action="" style="height: 660px;">
        <div class="card-body">
          <div class="inputBox">
            <h3>La quantité de lait transformée en produit laitier est :</h3>
            {{ operationsTransferResult.poidsLait }}
          </div>
          <div class="inputBox">
            <h3>La date où l'usine a efectué l'opération de transformation :</h3>
            {{ operationsTransferResult.dateOperation }}
          </div>
          <div class="inputBox">
            <h3>Le code de transformation</h3>
            {{ operationsTransferResult.code }}
          </div>
          <div class="inputBox">
            <h3>La quantité de lait a été prise du tank " numéro {{ operationsTransferResult.tank.idTank}}" dont la
              quantité est :</h3>
            {{ operationsTransferResult.poidsLait }}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- custom js file link  -->
<script src="js/script.js"></script>