<ion-header>

  <ion-toolbar color="primary">

    <div class="row">
      <ion-title>QR Scanner</ion-title>
      <button id="button" class="button" (click)="requestAccount()">00</button>
      <h6 style="margin-left : 4px;margin-right:14px;padding-top:11px;" *ngIf="!connected"> not connected</h6>
      <h6 style="margin-left : 4px;margin-right:14px;padding-top:11px;" *ngIf="connected">connected</h6>
    </div>


  </ion-toolbar>
</ion-header>
<ion-content *ngIf="connected">


  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="onFileChange($event)">
  <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Upload & Scan Image
  </ion-button>

  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="scan-outline"></ion-icon>
    Start scan
  </ion-button>

  <ion-button expand="full" (click)="stopScan()" *ngIf="scannerEnabled">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button>

  <ion-button expand="full" (click)="reset()" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button>


  <ion-card *ngIf="scannerEnabled">
    <zxing-scanner [enable]="scannerEnabled" (scanSuccess)="scanSuccessHandler($event) "
      (scanFailure)="scanFailureHandler($event)" style="margin:auto;width: 400px;height: 400px ;"></zxing-scanner>

  </ion-card>




  <ion-card *ngIf="scanResult!==''">
    <ion-card-header>
      <ion-card-title>Link</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="scanResult;">
        <ng-template #displayURLMetadataTemplate>
          <a (click)="openQrCodeLink()"><span>{{ scanResult }}</span></a>


        </ng-template>
        <ng-template #displayTextMetadataTemplate>
          {{ scanResult }}
        </ng-template>
        <ion-button expand="block" (click)="openQrCodeLink()">
          Open
        </ion-button>
        <ion-button expand="block" (click)="sharePropertyUsingTheWebShareApi()">
          <ion-icon name="share-social"></ion-icon>
          Share
        </ion-button>
      </ng-container>


    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary" *ngIf="connected">
    <ion-title>You are online :)</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger" *ngIf="!connected">
    <ion-title>You are offline :(</ion-title>
  </ion-toolbar>
</ion-footer>